@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --colorPrincipal: #110957;
}

body {
    background: url(file:///C:/Users/USER/Pictures/fondo.webp);
    font-family: 'Boldonse';
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ✅ Fondo para móvil/tablet */
.bg-img {
    position: fixed;
    inset: 0;              
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;           
    display: block;
}

/* Ocultamos imagen lateral por defecto */
.login-imagen {
    display: none;
}

.login-form h2 {
    color: var(--BotonIngresar, rgb(17, 9, 87));
    text-align: center;
    font-family: 'Boldonse';
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1.6px;
}

.login-form {
    width: 100%;
    max-width: 100%;
    padding: 5px;
}

.perfil-imagen {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.perfil-imagen img {
    width: 157px;
    height: 151px;
    border-radius: 500px;
    object-fit: cover;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    color: #110957;
    font-family: 'Boldonse';
    font-size: 14px;
    font-weight: 600;
    line-height: 250%;
    letter-spacing: 0.8px;
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 90%;
    padding: 12px;
    border: 1px solid #000000;
    border-radius: 50px;
    font-size: 14px;
    outline: none;
    transition: 0.3s;
}

.pass-group {
    position: relative;
}

.eyes-password {
    position: absolute;
    right: 20px;
    top: 50%;
    cursor: pointer;
    font-size: 18px;
    color: #000000;
}

.btn {
    width: 100%;
    background-color: var(--colorPrincipal);
    border: none;
    border-radius: 50px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    padding: 12px;
}

/* --- MEDIA QUERIES --- */
@media (min-width: 768px) {
    .login-imagen {
        display: block;
    }
}

@media (min-width: 1024px) {
    .login-imagen {
        display: block;
    }

    .login-section {
        display: flex;
        height: 100vh;
        width: 100vw;
    }

    /* Columna izq con imagen escritorio */
    .login-imagen {
        flex: 1;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-imagen img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .login-form {
        flex: 1;
        background-color: #ffffff;
        padding: 40px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 0 15px 15px 0;
        max-width: 15%;
    }

    .menu-form {
        color: #110957;
        font-family: 'Boldonse';
    }
}
